.banner{
    background-image:url('https://firebasestorage.googleapis.com/v0/b/spotydqq.appspot.com/o/banneralcoli.jpg?alt=media&token=892f8962-a857-476e-bb97-3b75133cb07d') ;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 30%;
}


.tarjeta{
    background-color: rgb(132, 128, 159);
    margin-top: 100px;
    text-align: center;
    padding: 80px;
    height: 450px;
    border: solid 4px;
}



.titulo_home{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
}



